## A3-MongoDB Python Programming

In this notebook, I will be loading the synthesized Json data into a MongoDB collection.
I will also demonstrate aggregation queries on this data using python as an interface to connect to the cloud MongoDB database. Finally I will save the results from the queries to either JSON or BSON file format.

### Establish a connection to the MongoDB

In [4]:
import pymongo
import credentials

connection_string = f"mongodb+srv://{credentials.username}:{credentials.password}@cluster0.lyroaya.mongodb.net/?retryWrites=true&w=majority"

In [5]:
print(connection_string)

mongodb+srv://akhilsura28:Fall2022usa@cluster0.lyroaya.mongodb.net/?retryWrites=true&w=majority

In [42]:
client = pymongo.MongoClient(connection_string) 

db = client['classroom'] # this creates a database - classroom if not already exists in the related project according to connection. 
collection = db['students'] # this creates a collection - students in the classroom-database

### Loading the json data file

I am using the dataset.json file generated to load it into the student_data variable.

In [43]:
import json

# Load the JSON data from the file
with open("./data/dataset.json", "r") as json_file:
    student_data = json.load(json_file)

# Now, 'student_data' contains the JSON data from the file

### Now load this data into the specified MongoDB collection

In [44]:
# Insert the data into the collection
collection.insert_many(student_data)

print(f"{len(student_data)} documents inserted into the collection.")

10 documents inserted into the collection.

### Fetch all documents in the collection

In [51]:
import json  
query = {} # select all documents (same as select * from patients)
doc = collection.find(query)
for record in doc: # 'doc' is a cursor that we can iterate over
    print(record)

{'_id': ObjectId('65123659eba4f46c72c54027'), 'name': 'David Lee', 'age': 29, 'city': 'Chicago', 'email': 'bob.johnson@example.com', 'is_student': False, 'hobbies': ['Cooking', 'Photography', 'Swimming', 'Dancing', 'Playing Music', 'Painting', 'Traveling', 'Hiking', 'Reading'], 'scores': {'math': 93, 'english': 62, 'history': 79}}
{'_id': ObjectId('65123659eba4f46c72c54028'), 'name': 'David Lee', 'age': 38, 'city': 'Houston', 'email': 'bob.johnson@example.com', 'is_student': True, 'hobbies': ['Playing Music', 'Painting'], 'scores': {'math': 73, 'english': 62, 'history': 68}}
{'_id': ObjectId('65123659eba4f46c72c54029'), 'name': 'David Lee', 'age': 38, 'city': 'Seattle', 'email': 'bob.johnson@example.com', 'is_student': True, 'hobbies': ['Reading', 'Cooking', 'Hiking'], 'scores': {'math': 92, 'english': 78, 'history': 96}}
{'_id': ObjectId('65123659eba4f46c72c5402a'), 'name': 'Bob Johnson', 'age': 36, 'city': 'Dallas', 'email': 'grace.turner@example.com', 'is_student': False, 'hobbies': ['Painting', 'Dancing', 'Playing Music', 'Photography', 'Cooking', 'Reading', 'Hiking', 'Gardening'], 'scores': {'math': 75, 'english': 90, 'history': 61}}
{'_id': ObjectId('65123659eba4f46c72c5402b'), 'name': 'Ivy Robinson', 'age': 27, 'city': 'Seattle', 'email': 'charlie.brown@example.com', 'is_student': True, 'hobbies': ['Reading', 'Hiking', 'Painting', 'Playing Music', 'Cooking'], 'scores': {'math': 87, 'english': 95, 'history': 77}}
{'_id': ObjectId('65123659eba4f46c72c5402c'), 'name': 'Alice Smith', 'age': 35, 'city': 'Chicago', 'email': 'frank.wilson@example.com', 'is_student': False, 'hobbies': ['Painting', 'Reading', 'Dancing', 'Playing Music'], 'scores': {'math': 72, 'english': 91, 'history': 61}}
{'_id': ObjectId('65123659eba4f46c72c5402d'), 'name': 'Eva Davis', 'age': 21, 'city': 'Atlanta', 'email': 'jack.martinez@example.com', 'is_student': False, 'hobbies': ['Reading', 'Cooking', 'Dancing', 'Gardening', 'Playing Music', 'Photography', 'Painting'], 'scores': {'math': 77, 'english': 88, 'history': 64}}
{'_id': ObjectId('65123659eba4f46c72c5402e'), 'name': 'Frank Wilson', 'age': 36, 'city': 'Houston', 'email': 'charlie.brown@example.com', 'is_student': False, 'hobbies': ['Gardening', 'Hiking', 'Playing Music', 'Dancing', 'Cooking', 'Photography', 'Traveling'], 'scores': {'math': 61, 'english': 95, 'history': 76}}
{'_id': ObjectId('65123659eba4f46c72c5402f'), 'name': 'Henry Harris', 'age': 30, 'city': 'Atlanta', 'email': 'frank.wilson@example.com', 'is_student': True, 'hobbies': ['Painting'], 'scores': {'math': 60, 'english': 94, 'history': 99}}
{'_id': ObjectId('65123659eba4f46c72c54030'), 'name': 'Charlie Brown', 'age': 38, 'city': 'Dallas', 'email': 'david.lee@example.com', 'is_student': True, 'hobbies': ['Gardening', 'Playing Music', 'Cooking', 'Reading'], 'scores': {'math': 70, 'english': 65, 'history': 60}}

### Demonstrating few aggregation queries on this database.

#### 1. Grouping the average age of students by cities.

In [52]:
average_ages = collection.aggregate( [
   {
    "$match" : 
        { "city" : { "$ne" : None }}
   },
   {
    "$group": 
        { "_id": "$city", "avg age": { "$avg": "$age" }}
   },
   { 
    "$sort": 
        { "avg age": 1 }
   }
])

result1 = list(average_ages)

print(result1)

with open("./data/result1.json", "w") as json_file:
    json.dump(result1, json_file, indent=4)

[{'_id': 'Atlanta', 'avg age': 25.5}, {'_id': 'Chicago', 'avg age': 32.0}, {'_id': 'Seattle', 'avg age': 32.5}, {'_id': 'Houston', 'avg age': 37.0}, {'_id': 'Dallas', 'avg age': 37.0}]

#### 2. Aggregating the average subject scores for students from each city and grouping by city.

In [53]:
average_scores = collection.aggregate( [
   {
        "$group": {
            "_id": "$city",
            "average_math_score": {"$avg": "$scores.math"},
            "average_english_score": {"$avg": "$scores.english"},
            "average_history_score": {"$avg": "$scores.history"}
        }
    }
])

result2 = list(average_scores)

print(result2)

# Save the results to JSON files
with open("./data/result2.json", "w") as json_file:
    json.dump(result2, json_file, indent=4)

[{'_id': 'Chicago', 'average_math_score': 82.5, 'average_english_score': 76.5, 'average_history_score': 70.0}, {'_id': 'Houston', 'average_math_score': 67.0, 'average_english_score': 78.5, 'average_history_score': 72.0}, {'_id': 'Seattle', 'average_math_score': 89.5, 'average_english_score': 86.5, 'average_history_score': 86.5}, {'_id': 'Dallas', 'average_math_score': 72.5, 'average_english_score': 77.5, 'average_history_score': 60.5}, {'_id': 'Atlanta', 'average_math_score': 68.5, 'average_english_score': 91.0, 'average_history_score': 81.5}]

#### 3. Aggregating the overall average subject scores for students from each city and grouping by city

In [54]:
overall_average_scores = collection.aggregate([
    {
        "$group": {
            "_id": "$city",
            "average_combined_score": {
                "$avg": {
                    "$avg": ["$scores.math", "$scores.english", "$scores.history"]
                }
            }
        }
    },
    {
        "$project": {
            "_id": 1,
            "average_combined_score": {"$round": ["$average_combined_score", 2]}
        }
    }
])

result3 = list(overall_average_scores)

print(result3)

with open("./data/result3.json", "w") as json_file:
    json.dump(result3, json_file, indent=4)

[{'_id': 'Dallas', 'average_combined_score': 70.17}, {'_id': 'Seattle', 'average_combined_score': 87.5}, {'_id': 'Chicago', 'average_combined_score': 76.33}, {'_id': 'Atlanta', 'average_combined_score': 80.33}, {'_id': 'Houston', 'average_combined_score': 72.5}]

### Conclusion:

In this notebook, I have successfully established connection to the MongoDB database. I have loaded the synthesized student data into database and fetched all the records directly from the database using query language. I have finally demonstrated three different aggregation queries to extract the desired data.